### Importazione librerie e caricamento dataset

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
df = pd.read_csv('../dataset/races_no_missing.csv')

# pulizia dati

print("\nValori duplicati:\n", df.duplicated().sum())

df = df.drop(columns=['cyclist_team'])

# Numero missing values
print("\nValori mancanti:\n", df.isnull().sum())

Valori duplicati:
 0

Valori mancanti:
 _url                 0
name                 0
points               0
uci_points           0
length               0
climb_total          0
profile              0
startlist_quality    0
date                 0
position             0
cyclist              0
cyclist_age          0
is_tarmac            0
is_cobbled           0
is_gravel            0
delta                0
dtype: int64

### Informazioni statistiche di base

In [9]:
df.describe()

,points,uci_points,length,climb_total,profile,startlist_quality,position,cyclist_age,delta
count,589813.000000,589813.000000,589813.000000,589813.000000,589813.000000,589813.000000,589813.000000,589813.000000,589813.000000
mean,89.224427,90.017187,166776.292588,2298.614790,2.555159,1101.181919,74.217672,28.484552,418.264796
std,54.436091,124.261699,64546.251640,1365.431706,1.468140,380.594833,48.404528,3.859066,842.971505
min,-59.911402,6.000000,1000.000000,2.000000,1.000000,115.000000,0.000000,11.000000,-6906.000000
25%,50.000000,16.000000,152500.000000,1280.000000,1.000000,844.000000,32.000000,26.000000,10.000000
50%,80.000000,60.000000,178200.000000,2240.000000,2.000000,988.000000,70.000000,28.000000,156.000000
75%,100.000000,100.000000,203500.000000,3263.000000,4.000000,1309.000000,112.000000,31.000000,624.000000
max,350.000000,800.000000,338000.000000,6974.000000,5.000000,2047.000000,209.000000,56.000000,61547.000000

In [ ]:
# Verifica se ci sono valori negativi in ogni colonna
negative_values = df.select_dtypes(include=['number']).lt(0).any()
print("Colonne con valori negativi:")
print(negative_values[negative_values])

df_missing = pd.read_csv('../dataset/races.csv')
negative_values = df_missing.select_dtypes(include=['number']).lt(0).any()
print("Colonne con valori negativi:")
print(negative_values[negative_values])

Colonne con valori negativi:
points    True
delta     True
dtype: bool

### Distribuzione variabili numeriche

In [ ]:
numeric_columns = df.select_dtypes(include='number').columns
for col in numeric_columns:
    plt.figure(figsize=(8, 6))
    sns.histplot(df[col], kde=True, bins=30)
    plt.title(f'Distribuzione di {col}')
    plt.show()

### Distribuzione variabili categoriche

In [ ]:
categorical_columns = df.select_dtypes(include='object').columns
for col in categorical_columns:
    plt.figure(figsize=(8, 6))
    sns.countplot(data=df, x=col)
    plt.title(f'Distribuzione delle categorie in {col}')
    plt.xticks(rotation=45)
    plt.show()

### Normalizzazione

In [ ]:
scaler = MinMaxScaler()
numeric_columns = df.select_dtypes(include='number').columns
normalized_df = pd.DataFrame(scaler.fit_transform(df[numeric_columns]), columns=numeric_columns)
print("DataFrame Normalizzato:")
print(normalized_df)

### Nuove distribuzioni

In [ ]:
numeric_columns = normalized_df.select_dtypes(include='number').columns
for col in numeric_columns:
    plt.figure(figsize=(8, 6))
    sns.histplot(normalized_df[col], kde=True, bins=30)
    plt.title(f'Distribuzione di {col}')
    plt.show()

### Standardizzazione

In [ ]:
scaler = StandardScaler()
numeric_columns = df.select_dtypes(include='number').columns
standardized_df = pd.DataFrame(scaler.fit_transform(df[numeric_columns]), columns=numeric_columns)
print("\nDataFrame Standardizzato:")
print(standardized_df)

### Nuove distribuzioni

In [ ]:
numeric_columns = standardized_df.select_dtypes(include='number').columns
for col in numeric_columns:
    plt.figure(figsize=(8, 6))
    sns.histplot(standardized_df[col], kde=True, bins=30)
    plt.title(f'Distribuzione di {col}')
    plt.show()

### Correlazioni tra variabili numeriche

In [ ]:
plt.figure(figsize=(12, 8))
corr_matrix = df[numeric_columns].corr()
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
plt.title('Matrice di Correlazione')
plt.show()

In [ ]:
methods = ['pearson', 'spearman', 'kendall']
for method in methods:
    correlation_matrix = df[numeric_columns].corr(method=method)
    
    plt.figure(figsize=(12, 8))
    sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5, fmt='.2f')
    plt.title(f'Heatmap delle correlazioni ({method.capitalize()})')
    plt.show()

### Pair plot (relazioni tra variabili numeriche)

In [ ]:
sns.pairplot(df[numeric_columns])
plt.show()

### Alcune relazioni fra features

In [ ]:
# Relazione tra età dei ciclisti e posizioni in gara
plt.figure(figsize=(10, 6))
sns.scatterplot(data=df, x='cyclist_age', y='position')
plt.title('Relazione tra età dei ciclisti e posizioni in gara')
plt.xlabel('Età del ciclista')
plt.ylabel('Posizione in gara')
plt.show()

In [ ]:
# Impatto del team di appartenenza sulla performance dei ciclisti
plt.figure(figsize=(12, 8))
sns.boxplot(data=df, x='cyclist_team', y='position')
plt.title('Impatto del team di appartenenza sulla performance dei ciclisti')
plt.xlabel('Team del ciclista')
plt.ylabel('Posizione in gara')
plt.xticks(rotation=90)
plt.show()

In [ ]:
# Impatto delle diverse superfici sui tempi di gara e posizioni finali
surface_columns = ['is_tarmac', 'is_cobbled', 'is_gravel']
for surface in surface_columns:
    if surface in df.columns:
        plt.figure(figsize=(10, 6))
        sns.boxplot(data=df, x=surface, y='position')
        plt.title(f'Impatto della superficie {surface} sui tempi di gara e posizioni finali')
        plt.xlabel(surface)
        plt.ylabel('Posizione in gara')
        plt.show()

In [ ]:
# Analisi delle Prestazioni per Età
age_bins = [18, 25, 30, 35, 40, 50]
df['age_group'] = pd.cut(df['cyclist_age'], bins=age_bins)

plt.figure(figsize=(10, 6))
sns.boxplot(data=df, x='age_group', y='position')
plt.title('Prestazioni per fasce d\'età')
plt.xlabel('Fascia d\'età')
plt.ylabel('Posizione in gara')
plt.show()